/* Coolors Exported Palette - coolors.co/1abc9c-009b9e-273647-011627-fdfffc */

/* HSL */
$color1: hsla(168%, 76%, 42%, 1);
$color2: hsla(181%, 100%, 31%, 1);
$color3: hsla(212%, 29%, 22%, 1);
$color4: hsla(207%, 95%, 8%, 1);
$color5: hsla(100%, 100%, 99%, 1);

/* RGB */
$color1: rgba(26, 188, 156, 1);
$color2: rgba(0, 155, 158, 1);
$color3: rgba(39, 54, 71, 1);
$color4: rgba(1, 22, 39, 1);
$color5: rgba(253, 255, 252, 1);